.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	padding: 10px;
	margin: 10px;
	background-color: #00a;
	border-radius: 8px;
	color: #fff;
	font-size: 15px;
}